@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-white: #fff
}

body {
  font-family: "Roboto Condesed" sans-serif;
}


/***************Navbar*********************/
.logo {
  width: 6.25rem;
}
/*****************Menu Links************************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  float: left;
}

nav ul li {
  text-transform: uppercase;
  float:left;
}

.navbar-nav > li > a {
  color: var(--primary-white);
  float:left;
}